<div class="center jumbotron">
    <h1>GoAround</h1>
    <h2>
        Compare. Request. Ride.<br>
        GoAround aggregates all of your transportation needs in one place for you to easily compare options for your needs.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
