<div class="row">
    <div class="col-md-3 queryPane">
        <form role="form">
            <h2 id="queryPaneLabel" class="queryLabels">Find Routes</h2>
            <div class="input-group">
                <span class="input-group-addon" id="start-addon">Start</span>
                <input type="text" class="form-control" id="start_input" placeholder="Search...">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="end-addon">End</span>
                <input type="text" class="form-control" id="end_input" placeholder="Search...">
                <span id="search-button-inline" >
                    <span class="glyphicon glyphicon-arrow-right" id="search-image" onclick="populateResultsFromUser()" aria-hidden="false">
                    </span>
                </span>
            </div>
        </form>
        <div id="resultsContainer">
            <h2 class="queryLabels">Results</h2>
            <div class="resultModes">
                <li class="active" id="drivingResults">
                    <div class="tripImage" id="driveImage">
                        <!-- Insert image here --> 
                        <span>Driving</span>
                    </div>
                    <div class="tripProperties">
                        <span class="tripLength">
                            <span class="duration" id="drivingDuration">0</span>
                            <span class="durationUnit" id="drivingDurationUnit">mins</span>
                        </span>
                    </div>
                </li>
                <li id="publicTransitResults">
                    <div class="tripImage" id="publicTransitImage">
                        <!-- Insert image here --> 
                        <span>Public Transit</span>
                    </div>
                    <div class="tripProperties">
                        <span class="tripCost" id="publicTransitFare"></span>
                        <span class="tripLength">
                            <span class="duration" id="publicTransitDuration">0</span>
                            <span class="durationUnit" id="publicTransitDurationUnit">mins</span>
                        </span>
                    </div>
                </li>
                <li id="uberResults">
                    <div class="tripImage" id="uberImage">
                        <!-- Insert image here --> 
                        <span>Uber</span>
                    </div>
                    <div class="tripProperties">
                        <span class="tripLength">
                            <span class="duration" id="uberDuration">0</span>
                            <span class="durationUnit" id="uberDurationUnit">mins</span>
                        </span>
                    </div>
                </li>
                <li id="bikingResults">
                    <div class="tripImage" id="bikeImage">
                        <!-- Insert image here --> 
                        <span>Biking</span>
                    </div>
                    <div class="tripProperties">
                        <span class="tripLength">
                            <span class="duration" id="bikingDuration">0</span>
                            <span class="durationUnit" id="bikingDurationUnit">mins</span>
                        </span>
                    </div>
                </li>
                <li id="walkingResults">
                    <div class="tripImage" id="walkImage">
                        <!-- Insert image here --> 
                        <span>Walking</span>
                    </div>
                    <div class="tripProperties">
                        <span class="tripLength">
                            <span class="duration" id="walkingDuration">0</span>
                            <span class="durationUnit" id="walkingDurationUnit">mins</span>
                        </span>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="map-container">
        <div id="map-canvas">
        </div>
    </div>
    <div class="col-md-3 details">
        <h2 id="detailsLabel" class="detailsPaneLabel">Details</h2>
        <div id="directionsPanel"></div>
    </div>
</div>
