<% provide(:title, "About") %>
<h1>About</h1>
<p>
  GoAround is a side project developed by Jonathan Lui in order to make traveling easier. You can see all your options in one place and compare them by price, distance, or ETA.
</p>
