<% provide(:title, 'Home') %>
<% if logged_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="travel_route_form">
                <%= render 'shared/travel_route_form' %>
            </section>
        </aside>
        <div class="col-md-8">
            <h3>Travel Routes Feed</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div class="center jumbotron">
        <h1>GoAround</h1>
        <h2>
            Compare. Request. Ride.<br> 
            GoAround aggregates all of your transportation needs in one place for you to easily compare options for your needs.
        </h2>

        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
<% end %>
