<% provide(:title, "Privacy") %>
<h1>Privacy Policy</h1>
<p>
  This privacy policy discloses the privacy practices for GoAround and applies solely to information collected by this web site. We collect the following information from you:
  <ol>
  	<li> Your email, name, picture, and promo code</li>
  </ol>
</p>

<h3> Information Collection, Use, and Sharing</h2>
<p> GoAround is the sole owner of the information collected on this site. We will not sell or rent this information to anyone. </p>

<h3> Updates</h3>
<p> GoAround's Privacy Policy may change from time to time and all updates will be posted on this page.</p>

<h4 style="font-weight:bold"> If you feel that GoAround is not abiding by this policy privacy, you should contact me immediately at lui.jonathanc@gmail.com</h4>