/* Colors */
$gray-medium-light: #eaeaea;
$hover-background: #000000;
$state-danger-text: #ee5f5b;
$queryPane-background: #407394;
$detailsPane-background: #bdc3c7;
$homeLabel-color: #ffffff;
$detailsPane-color: #2c2c2c;
