/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: $hover-background;
        text-decoration: none;
    }
}

/* Custom Header
.navbar-goaround {
    .brand {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-inner {
        background: #fff;
        filter: none !important;
        box-shadow: 0 2px 15px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        .nav {
            float: right;
            li {
                a {
                    background: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    color: #777;
                    font-size: 13px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-weight: 600;
                }
                a: hover {
                    background: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    color: #bf3604;
                }
            }
            li.active {
                a {
                    color: #bf3604;
                }
            }
        }
    }
}
*/
