/* QueryPane */

.queryPane { 
	height: 700px;
	background-color: $queryPane-background;
	border-radius: 5px;
	left: 7px;
}

#queryPaneLabel { 
	color: #2c2c2c;
	text-align: left;
	padding-left: 0;
	font-size: 25px;
}

.tripProperties .tripLength .duration {
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	top: -24px;
	right: 0;
}

.tripProperties .tripLength .durationUnit {
	font-size: 11px;
	font-weight: 300;
	position: absolute;
	top: -2px;
	right: 0;
}

.tripLength { 
	position: relative;
	display: inline-block;
	width: 25px;
}

.tripProperties {
	display: inline-block;
	padding-right: 25px;
	position: absolute;
}

li.active {
	background-color: #8e44ad !important;
	div {
		span {
			color: #ffffff;
		}
	}
}

#end_input {
	padding-right: 45px;
}

#resultsContainer {
	width: 100%;
	height: 400px;
	margin-top: 15px;
	border-top: 1px solid rgba(255,255,255,.3);

	h2 {
		color: #2c2c2c;
		text-align: left;
		padding-left: 0;
		font-size: 25px;
	}
}

.resultModes {
	vertical-align: baseline;
	li:first-child {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
	li:last-child {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	li {
		padding: 20px;
		border: 1px solid #e5e5e5;
		background-color: #ffffff;
		list-style: none;
		span {
			font-weight: bold;
			color: #407394;
		}
	}
	ul {
		list-style: none;
	}
}

.tripProperties {
	display: inline-block;
	float: right;
	right: 0;
}

.tripImage {
	display: inline-block;
}

/* Details Pane */

.details {
	height: 100%;
	right: 7px;
	background-color: $detailsPane-background;
	border-radius: 5px;
}

#detailsLabel { 
	color: #2c2c2c;
	text-align: left;
	padding-left: 0;
	font-size: 25px;
}

