#map-container {
	height: 700px;
	overflow: auto;
}

#map-canvas {
	height: 100%;
	border-radius: 5px;
}

#directionsPanel { 
	height: 625px;
	overflow: auto;
	.adp {
		table {
			border: none;
		}
		div {
			background-color: $detailsPane-background;
		}
		td { 
			background-color: $detailsPane-background;
		}
	}
}

#mapContainer {
	#map-canvas {
		.gm-style {
			tbody {
				background-color: #ffffff;
			}
			div {
				background-color: #ffffff;
			}
			table {
				background-color: #ffffff;
			}
			td {
				background-color: #ffffff;
			}
		}
	}
}

#search-button-inline {
	float: right;
	right: 5px;
	position: absolute;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
}