#map-container {
	height: 700px;
	overflow: auto;
}

#map-canvas {
	height: 100%;
}

#directionsPanel { 
	height: 625px;
	overflow: auto;
	.adp {
		table {
			border: none;
		}
		div {
			background-color: #deb32d;
		}
		td { 
			background-color: #deb32d;
		}
	}
}

#search-button-inline {
	float: right;
	right: 5px;
	position: absolute;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
}